@media (min-width:1100px){
  .ibg-side-ads{position:fixed;top:84px;bottom:20px;width:300px;z-index:10;display:block}
  .ibg-side-left{left:12px}
  .ibg-side-right{right:12px}
  .ibg-side-ads .ad{width:300px;min-height:600px}
}
@media (max-width:1099px){ .ibg-side-ads{display:none!important} }
